#sidenav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

button:hover {
  background-color: lightgrey;
}

#login-section {
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 20vw;
  background-color: white;
  color: black;

  #login-form {
    width: 100%;
    padding: 0;

    .email-form {
      width: 100%;

      mat-error {
        font-size: 10px;
      }
    }

    .password-form {
      margin-top: 10px;
      width: 100%;
    }
  }

  #button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

    #loginbutton {
      padding: 10px 15px 10px 15px;
      width: auto;
      font-size: larger;
      color: white;
      background-color: #2b2d42;
    }

    #discardbutton {
      padding: 10px 15px 10px 15px;
      width: auto;
      font-size: larger;
      color: white;
      background-color: #d90429;
    }

    button:hover {
      background-color: lightgrey;
    }

  }
}

#user-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 50px);
  width: 100%;
  background-color: white;
  color: black;

  .trashbox-section {
    margin: 12px 0;
  }

  .trashbox-margin {
    margin: 0 12px;
  }

  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  #logoutbutton {
    padding: 10px 15px 10px 15px;
    width: 100%;
    font-size: larger;
    color: white;
    background-color: #d90429;
  }

}