@use '@angular/material' as mat;

$primary-color: mat.define-palette(mat.$indigo-palette);
$accent-color: mat.define-palette(mat.$purple-palette);
$warn-color: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme((
  color: (
    primary: $primary-color,
    accent: $accent-color,
    warn: $warn-color,
  ),
));

@include mat.all-component-themes($app-theme);

/* Aggiungi stili personalizzati */
.mat-tab-header {
  height: 48px !important;
  min-height: 48px !important;
  overflow: hidden;
}

.mat-tab-labels {
  display: flex !important;
  align-items: center !important;
  height: 48px !important;
}

.mat-tab-label {
  line-height: 48px !important;
}
